ollama~=0.3.3
pandas~=2.2.2
nlpaug~=1.1.11
transformers~=4.44.2
nltk~=3.8.1
langdetect~=1.0.9
transformers==4.38.0
sentencepiece
contractions
# sacremoses
# /Applications/Python\ 3.11/Install\ Certificates.command
