ollama~=0.3.3
pandas~=2.2.2
nlpaug~=1.1.11
nltk~=3.8.1
langdetect~=1.0.9
sentencepiece
contractions
torch~=2.0.1  # Compatibilidad con transformers y tensorflow
numpy~=1.24.3  # Compatible con Python 3.11
tqdm~=4.65.0   # Barra de progreso
scikit-learn~=1.2.2
wandb~=0.15.5
sentence-transformers~=2.2.2  # Compatibilidad con transformers recientes
tensorflow==2.13.1  # TensorFlow ya incluye Keras
transformers==4.29.0  # Compatible con tensorflow 2.13.x y torch
huggingface-hub~=0.16.4  # Compatible con transformers
